.items h1{
    color:rgb(187, 22, 22);
}
.mm {
    color:pink;
}
.names{
    color:aquamarine;
}
.items Button{
    background-color: rgb(227, 218, 218);
}
.items.active {
    background-color: yellow; /* Example style */
  }
.change{
    color:red;
  }